

<div class="stepdiv">
    <h1
        style="padding-left: 10px; text-align: justify; color: beige; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    Total 42 Questions</h1>
</div> <br><br>

<div class="feedbackdiv">
    <form novalidate (ngSubmit)="onSubmit(raisectest)" [formGroup]="raisectest">
    <table class="table table-bordered">
        <tr>
            <th style=" color: beige;">
              Q1.  I like to work on cars
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qone"           name="qone"          value="1"          required>Yes
                <br>
                <input type="radio" formControlName="qone"           name="qone"          value="0"          required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q2. I like to do puzzles
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwo"           name="qtwo"          value="1"          required>Yes
                <br>
                <input type="radio" formControlName="qtwo"           name="qtwo"          value="0"          required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q3. I am good at working independently
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthree"         name="qthree"          value="1"        required>Yes
                <br>
                <input type="radio" formControlName="qthree"         name="qthree"          value="0"        required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q4. I like to work in teams
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfour"          name="qfour"          value="1"         required>Yes
                <br>
                <input type="radio" formControlName="qfour"          name="qfour"          value="0"         required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q5. I am an ambitious person, I set goals for myself
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfive"          name="qfive"          value="1"         required>Yes
                <br>
                <input type="radio" formControlName="qfive"          name="qfive"          value="0"         required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q6. I like to organize things, (files, desks/offices)
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qsix"           name="qsix"          value="1"          required>Yes
                <br>
                <input type="radio" formControlName="qsix"           name="qsix"          value="0"          required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q7. I like to build things
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qseven"         name="qseven"          value="1"        required>Yes
                <br>
                <input type="radio" formControlName="qseven"         name="qseven"          value="0"        required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q8. I like to read about art and music
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qeight"         name="qeight"          value="1"        required>Yes
                <br>
                <input type="radio" formControlName="qeight"         name="qeight"          value="0"        required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q9. I like to have clear instructions to follow
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qnine"          name="qnine"          value="1"         required>Yes
                <br>
                <input type="radio" formControlName="qnine"          name="qnine"          value="0"         required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q10.  I like to try to influence or persuade people
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qten"           name="qten"          value="1"          required>Yes
                <br>
                <input type="radio" formControlName="qten"           name="qten"          value="0"          required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q11. I like to do experiments
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qeleven"        name="qeleven"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qeleven"        name="qeleven"          value="0"       required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q12. I like to teach or train people
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwelve"        name="qtwelve"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qtwelve"        name="qtwelve"          value="0"       required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q13.  I like trying to help people solve their problems
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthireen"       name="qthireen"          value="1"      required>Yes
                <br>
                <input type="radio" formControlName="qthireen"       name="qthireen"          value="0"      required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q14. I like to take care of animals
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfourteen"      name="qfourteen"          value="1"     required>Yes
                <br>
                <input type="radio" formControlName="qfourteen"      name="qfourteen"          value="0"     required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q15. I wouldn’t mind working 8 hours per day in an office
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfiteen"        name="qfiteen"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qfiteen"        name="qfiteen"          value="0"       required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q16. I like selling things
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qsixteen"       name="qsixteen"          value="1"      required>Yes
                <br>
                <input type="radio" formControlName="qsixteen"       name="qsixteen"          value="0"      required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q17. I enjoy creative writing
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qseventeen"     name="qseventeen"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qseventeen"     name="qseventeen"          value="0"    required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q18. I enjoy science
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qeighteen"      name="qeighteen"          value="1"     required>Yes
                <br>
                <input type="radio" formControlName="qeighteen"      name="qeighteen"          value="0"     required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q19. I am quick to take on new responsibilities
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qnineteen"      name="qnineteen"          value="1"     required>Yes
                <br>
                <input type="radio" formControlName="qnineteen"      name="qnineteen"          value="0"     required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q20. I am interested in healing people
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwenty"        name="qtwenty"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qtwenty"        name="qtwenty"          value="0"       required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q21.I enjoy trying to figure out how things work
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentyone"     name="qtwentyone"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qtwentyone"     name="qtwentyone"          value="0"    required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q22. I like putting things together or assembling things
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentytwo"     name="qtwentytwo"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qtwentytwo"     name="qtwentytwo"          value="0"    required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q23. I am a creative person
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentythree"   name="qtwentythree"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qtwentythree"   name="qtwentythree"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q24. I pay attention to details
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentyfour"    name="qtwentyfour"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qtwentyfour"    name="qtwentyfour"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q25. I like to do filing or typing
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentyfive"    name="qtwentyfive"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qtwentyfive"    name="qtwentyfive"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q26. I like to analyze things (problems/situations)
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentysix"     name="qtwentysix"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qtwentysix"     name="qtwentysix"          value="0"    required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q27. I like to play instruments or sing
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentyseven"   name="qtwentyseven"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qtwentyseven"   name="qtwentyseven"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q28. I enjoy learning about other cultures
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentyeight"   name="qtwentyeight"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qtwentyeight"   name="qtwentyeight"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q29. I would like to start my own business
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qtwentynine"    name="qtwentynine"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qtwentynine"    name="qtwentynine"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q30. I like to cook:
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirty"        name="qthirty"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qthirty"        name="qthirty"          value="0"       required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q31. I like acting in plays
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtyone"     name="qthirtyone"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qthirtyone"     name="qthirtyone"          value="0"    required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q32. I am a practical person
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtytwo"     name="qthirtytwo"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qthirtytwo"     name="qthirtytwo"          value="0"    required>No
            </th>
        </tr>

        <tr>
            <th style=" color: beige;">
              Q33. I like working with numbers or charts
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtythree"   name="qthirtythree"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qthirtythree"   name="qthirtythree"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q34. I like to get into discussions about issues
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtyfour"    name="qthirtyfour"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qthirtyfour"    name="qthirtyfour"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q35. I am good at keeping records of my work
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtyfive"    name="qthirtyfive"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qthirtyfive"    name="qthirtyfive"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q36. I like to lead
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtysix"     name="qthirtysix"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qthirtysix"     name="qthirtysix"          value="0"    required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q37. I like working outdoors
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtyseven"   name="qthirtyseven"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qthirtyseven"   name="qthirtyseven"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q38. I would like to work in an office
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtyeight"   name="qthirtyeight"           value="1" required>Yes
                <br>
                <input type="radio" formControlName="qthirtyeight"   name="qthirtyeight"           value="0" required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q39.  I’m good at math
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qthirtynine"    name="qthirtynine"          value="1"   required>Yes
                <br>
                <input type="radio" formControlName="qthirtynine"    name="qthirtynine"          value="0"   required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q40. I like helping people
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfourty"        name="qfourty"          value="1"       required>Yes
                <br>
                <input type="radio" formControlName="qfourty"        name="qfourty"          value="0"       required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q41. I like to draw
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfourtyone"     name="qfourtyone"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qfourtyone"     name="qfourtyone"          value="0"    required>No
            </th>
        </tr>
        <tr>
            <th style=" color: beige;">
              Q42. I like to give speeches
            </th>
            <th style=" color: beige;"> 
              
                <input type="radio" formControlName="qfourtytwo"     name="qfourtytwo"          value="1"    required>Yes
                <br>
                <input type="radio" formControlName="qfourtytwo"     name="qfourtytwo"          value="0"    required>No
            </th>
        </tr>
    </table>
    <br>
    <div class="buttondiv">
       <button class="button" type="submit" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Submit</button>
    </div>
    </form>
</div> 




