<footer class="ftco-footer ftco-bg-dark ">
        <div class="container">
          <div class="row mb-2">
            <div class="col-md">
              <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Career For You</h2>
                <p>“ There are no shortcuts to any place worth going. ” <i>– Beverly Sills</i> </p>
                <p></p>
                <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                  <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2">About</h2>
                <ul class="list-unstyled">
  
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Beliefs</a></li>
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>History</a></li>
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Mission</a></li>
  
  
  
                </ul>
              </div>
            </div>
            <div class="col-md">
              <div class="ftco-footer-widget mb-4 ml-md-5">
                <h2 class="ftco-heading-2">Connect</h2>
                <ul class="list-unstyled">
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Home Groups</a></li>
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Recovery Groups</a></li>
                  <li><a href="#" class="py-1 d-block"><span class="ion-ios-arrow-forward mr-3"></span>Memberships</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md">
               <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Contact</h2>
                <div class="opening-hours">
                    <h4>Phone</h4>
                    <p class="pl-3">
                        <span class="mb-3">+92 337 9877814 <br> +92 337 9877814</span>
                    </p>
                </div>
                <div class="opening-hours">
                    <h4>Email</h4>
                    <p class="pl-3">
                        <span class="mb-3">owaistheBoss@gmail.com <br> abdullahrasheed@gmail.com</span>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>